<section class="container">
    <div class="left-container">
        <div class="content">
            <i class="pi pi-user" alt="imagem default de uma pessoa"></i>
        </div>
    </div>
    <div class="right-container">
        <div class="left">
            <div class="name">
                <strong>Nome: </strong> <small>Carlos</small>
            </div>
            <div class="tell">
                <strong>Tell:</strong> 
                <small>{{ '81988228643' | celular }}</small>
                <span><i class="pi pi-home"></i></span>
            </div>
        </div>
        <div class="right"></div>
    </div>
</section>
